h1 {
  color: #25737f;
  /* padding: 10%; */
}
.sidebar {
  /* width: 15%;
  height: 70vh;
  background-color: #8bd9ef;
  margin-left: 2%;
  align-items: start;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%; */

  margin-left: 2%;
  margin-top: 4%;
  width: 15%;
  height: 70vh;
  background-color: #8bd9ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}

.sideButton {
  height: 15%;
  display: flex;
  justify-content: center;
  margin: 25px;
  padding: none;
  border-right: 2px solid #25737f;
  border-bottom: 2px solid #25737f;
  cursor: pointer;
  z-index: 0;
}
